<section class="card">

<header>
    <div>{{post.title}}</div>
    <div id="poster">Posted on {{format_time post.createdAt}}</div>
    <div>{{username}}</div>
</header>

<div class="card-body">
    <p>{{post.content}}</p>
</div>

<form id="myForm">
    <input type="text" id="comment" placeholder="Add a comment">
    <button type="submit">Submit</button>
</form>

{{#each post.comments as |comment|}}
{{> comment-details}}
{{/each}}

</section>