<h4>Create a new post below:</h4>

<!-- Form for creating a new post  -->
<div class="card">
  <header>Create Post</header>
  <form class="form new-post" id="new-post">
    <div class="form-group">
      <label for="email-login" class="form-group">Title:</label>
      <input class="form-input" type="text" id="post-title" />
    </div>
    <div class="form-group">
      <label for="password-login" class="form-group">Content:</label>
      <input class="form-input" type="text" id="post-content" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>

<script src="./js/createpost.js"></script>