<section class="card">

<header>{{post.title}}</header>

<div class="card-body">
    <p>{{post.content}}</p>
</div>

<form id="myForm">
    <input type="text" id="comment" placeholder="Add a comment">
    <button type="submit">Submit</button>
</form>

{{#each comments as |comment|}}
{{> comment-details}}
{{/each}}

</section>