
/* CSS is divided into three main secions; main variables, general blocks like header, class id's, etc. and card stylings */
:root {
  --primary: #02120f;
  --secondary: #a7d2c5;
  --tertiary: #5e877f;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
}

a {
  color: var(--dark);
}

a:visited {
  color: inherit;
}

header {
  font-family: Arial;
  padding: 30px;
  text-align: left;
  background: var(--primary);
  color: var(--secondary);
}

#title-button {
  display: flex;
  justify-content: space-between;
}

#create-post {
  padding: 15px;
  background-color: var(--primary);
  color: var(--secondary);
  margin-right: 30px;
}

nav a:hover, #create-post:hover {
  font-weight: bold;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

nav  {
  display: flex;
}

nav a, #logout {
  color: var(--secondary);
  padding: 0px 40px 5px 0px;
  text-decoration: none;
  text-align: center;
  background-color: var(--primary);
  border: none;
}

main .post {
  flex: 4;
  background-color: var(--secondary);
  padding: 20px;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.comment-box {
  padding: 10px;
}

.commenter {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

/* CARDS */
.card {
  margin: 20px;
  flex: 0 1 300px;
  border-width: 3px;
  color: var(--dark);
}

.card header {
  color: var(--secondary);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--primary);
  padding: 0.625rem;
  display: flex;
  justify-content: space-between;
}

.card:hover {
  font-weight: bold;
  text-decoration: none;
}

.form-group {
  margin-left: 20px;
  font-size: 15px;
}

.password-login {
  margin-left: 20px;
}

.form-group .btn-primary {
  background-color: var(--primary);
  color: var(--secondary);
  font-weight: bold;
  margin-left: 20px;
}

#poster {
  font-size: 12px;
}



